<section class="about" id="about"> 
    <div class="container">
        <div class="main-txt">
            <h1 id="aboutus">About <span>Us</span></h1>
        </div>

        <div class="row">
            <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="assets/about-img.png" alt=""> 
                </div>
            </div>

            <div class="col-md-6 py-3 py-md-0 d-flex flex-column justify-content-center">
                <p>At TravelQuest, we believe that every journey begins with a single step. 
                    Founded by passionate travel enthusiasts, we are dedicated to creating unforgettable experiences for 
                    adventurers of all kinds. With a diverse selection of destinations and tailored travel packages, 
                    we cater to your unique interests and desires. Whether you’re seeking a relaxing beach getaway, 
                    an adventurous mountain trek, or an immersive cultural experience, our team is here to guide you every 
                    step of the way. Join us as we explore the world together, making memories that last a lifetime. 
                    Your adventure starts here!
                </p>
                <button id="about-btn">Read More...</button>
            </div>
        </div>
    </div>
</section>
