<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" id="logo">Travel<span>Quest</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home <i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About <i class="fas fa-info-circle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact <i class="fas fa-envelope"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booking">Book Tickets <i class="fas fa-ticket-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/travel">Travel <i class="fas fa-plane"></i></a>
        </li>
      </ul>
      <!-- Use ms-auto to push the button to the right -->
      <div class="ms-auto">
        <a class="btn btn-outline-primary" routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</nav>

<app-breadcrumb></app-breadcrumb>

<router-outlet></router-outlet>

<footer id="footer">
  <h1>Travel<span>Quest</span></h1>
  <p>Your Adventure Awaits – Explore the World, One Destination at a Time!</p>
  <div class="social-links">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  <div class="credit">
    <p>Designed By <a href="#">Prerna Sharma</a></p>
  </div>
  <div class="copyright">
    <p>&copy;Copyright TravelQuest. All Rights Reserved</p>
  </div>
</footer>
